.container-card{

    padding:10px;
    width: 20%;
    display: flex;
    flex-direction: column;


}

.card-text{
    margin-top:2px;
    margin-bottom: 3px;
}





a {
    color: #ffffff;
    text-decoration: none;
    background-color: #ffffff00;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem; 

}
.card-body p{
    font-size:12px;
}
.card-title {
    margin-bottom: 0;
}

.container-home{
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
    align-items: center;
    justify-content: center;
}

.filter{
    margin-top: 160px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:15px;
}



.btn-light {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}

.btn-light:hover {
    color: #00bc8c;
    background-color: #00bc8d00;
    border-color: #00bc8c;
}



