
.container-detail{
    margin-top: 120px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;

}

.card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size:15px;
}

.card-text{
    color: rgb(219, 29, 29);
}


.card-details{
    margin-top: 14px;
    width: 70%;
}


/* .EventDetailsMain{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 800px;
}

.detalles{
    display: inline;
    font-size: 60px;
    position: relative;
    left: 440px;
}
.favoritos{
    position: relative;
    right:-900px

}
.inputs{
    position: relative;
    left: 500px;
}
.inputDetalles{
    
    background-color:rgb(107, 105, 105) ;
    border-radius: 8px;
    
}

.pdetalles{
    width: 100%;
    max-width: 250px;
    background-color: rgb(117, 115, 115);
    border-radius: 8px;
    height: 25px;
}
.pdetalle{
    display: inline;
    width: 100%;
    max-width: 290px;
    background-color: rgb(117, 115, 115);
    border-radius: 8px;
    height: 25px;
}

p{
    color: rgb(213, 214, 213);
}
.hora{
    display: inline;
    color:rgb(213,214,213);
} */