.DivDeArriba{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.DivTituloFiltros{
    display: flex;
    flex-direction: column;
}
.input{
    width: 500px;
}
.tarjetaFavoritos{
    display: flex;
    background-color: rgba(92, 92, 91, 0.856);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
