.nav-contenedor{
    display: flex;
    justify-content: space-between;
}
.div-logo{
    display: flex;
    align-items: baseline;
}
.botonSobreNosotros{
    display: flex;
    margin-left: 10px;
}
.botoneslogin{
    display: flex;
    align-items: center;
}
.botonlogin{
    margin-right: 12px;
}
.div-tarjeta1{
    display: flex;
<<<<<<< HEAD
    background-color: rgba(12, 12, 12, 0.445);
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
=======
    background-color: rgba(90, 90, 90, 0.445);
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    justify-content: space-between;
}
.imagenes{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.parrafo1{
    margin-top: 60px;
    margin-left: 20px;
    font-size:20px;
}
.titulotarjeta2{
    margin-left: 20px;
}
.linea {
    border-top: 1px solid rgb(146, 146, 146);
    height: 2px;
    max-width: 900px;
    padding: 0;
    margin: 30px auto 0 auto;
  }
  .contenedorFinal{
      display: flex;
      justify-content: space-evenly;
  }
  .listafinal{
      display: flex;
      column-count: 2;
      flex-wrap: wrap;
    flex-direction: column;

  }
  .divUl {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  .p{
      display: flex;
      align-items: center;
  }
>>>>>>> 56c48f6bd9a78ecbaa348e7f276ec682f5f45eab
