.divpapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navLogin{
    display: flex;
    align-items: center;
}
.botonesLogin{
    display: flex;
    flex-direction: column;
}
.formLogin{
    display: flex;
    flex-direction: column;
}
.divpapa{
    background-image: url('../../images/fondoLogin.jpg');
    opacity: 0.75;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    position: absolute; top: 0; left: 0;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}