.container-dash{

    background-color:rgb(218, 216, 216); 
    padding-bottom: 15px;  
    height:95%;
    border-radius: 8px;
   
}

.container-dash h2{

    color:rgb(75, 72, 72);

}

.searchUs{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom:15px;

}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #34c52a;
}

