.card-name {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row {
    justify-content: center;
}
.offset-md-3{
    margin:0;
    width: 100%;
}
.btn {
    box-sizing: content-box;
    width: max-content;
    margin: 0 15px 0 15px;
}

/* .card {
    flex-direction: row;
    justify-content: space-between;
} */

.col-md-6 {
    width: 100%;
}