.container-card{

    width: 18rem;

    /* margin-left: 18px;
    margin-top: 15px;
    border-radius:8px;
    padding:10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 45, 45); */
}
.container-card a{
    text-decoration: none;
    color: white;
}

.favorites-container{
    position: absolute;
    top:140px;
    right:12px;
    border-radius: 40px;
    border: solid 1px white;
    background-color: #303030;
    opacity: .8;
 
}

.favorites-container button {
    border-radius: 40px;
    height: 40px;
    padding: 8px;
    -webkit-transition: all .4s cubic-bezier(.4,0,.3,1);
    transition: all .4s cubic-bezier(.4,0,.3,1);
    width: 40px;
    background: none;
    border: none;
    
}
.favorites-container button:focus{
    outline: none;
}

.favorites-container2{
    position: absolute;
    top:140px;
    right:12px;
    border-radius: 40px;
    border: solid 1px white;
    background-color: #303030;
    opacity: .8;
 
}
.favorites-container2 button {
    border-radius: 40px;
    height: 40px;
    padding: 8px;
    -webkit-transition: all .4s cubic-bezier(.4,0,.3,1);
    transition: all .4s cubic-bezier(.4,0,.3,1);
    width: 40px;
    background: #00bc8c;
    border: none;
    
}
.favorites-container2 button:focus{
    outline: none;
}

.fecha{
    color: rgb(50, 235, 149);
    font-size:13px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    margin-right:13px;
    margin-bottom: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #303030;
    background-clip: border-box;
    border: 1
px
 solid rgba(0,0,0,0.125);
    border-radius: 0.25
rem
;
}

.card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size:15px;
    background-color: #383636;
    border-radius: 25px;
}

.btn-search{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    height:calc(1.5em + 0.74rem + 1px);
    color:#00bc8c;
}

.container-search{
    margin:0;
    display: flex;
    flex-direction: row;   
    justify-content: center;

}

.container-card:hover{

    box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);
    -webkit-box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);


}
.container-map-btn{
    box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);
-webkit-box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);
-moz-box-shadow: -4px 1px 23px 0px rgba(0,0,0,0.37);
    margin-top: 130px;
    background-color:rgb(54, 54, 54);
    padding-top: 15px;
    border-radius:8px;
    
}


.container-map{
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
}

.mapa{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:15px;


}


.select-home{
    
    display: block;
	font-size: 16px;
	font-family: 'Verdana', sans-serif;
	font-weight: 400;
	color: rgb(61, 56, 56);
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 200px;
	max-width: 100%; 
	box-sizing: border-box;
	border: 1px solid rgb(247, 245, 245);
	box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: rgb(255, 255, 255);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #fcfcfc 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;

}
.conta{   
    margin-left: 15px;
    width: 60%;
}

/* .card-text{
    margin-top:2px;
    margin-bottom: 3px;
} */


.share{
    margin-right: 4px;
    margin-left: 5px;
}

.spa{
    font-size: 12px;
}






/* .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem; 

} */
/* .card-body p{
    font-size:12px;
}
.card-title {
    margin-bottom: 0;
} */

.container-home{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.filter{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}



.btn-light {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}

.btn-light:hover {
    color: #00bc8c;
    background-color: #00bc8d00;
    border-color: #00bc8c;
}



