.DivDeArriba{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.DivTituloFiltros{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .card{

    margin-top:25px;
    box-shadow: 2px 4px 10px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 10px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 6px rgba(0,0,0,0.75);
    justify-content:center;
    align-items:center;


} */
.icon-delete:hover{
    cursor: pointer;
    color: red;
}


.container-cards{

    display: flex;
    flex-direction: column;
    align-items: center;


}
.container-favorites{
    text-decoration: none;

}

.icon{
    margin-right:80px;
}