.navbar-center  {
    display:flex;
    justify-content:center;
    width: 40%;
}


    .fff {
        /* margin-right: 185px; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

   
.fff img {
    margin-left: 55px;
    margin-right: 5px;
}

.fff a{
    margin-left:40px;
}

.fav{

    margin-right:45px;

}


.navbar {
    opacity: 0.8;
    padding:0;
  }
.link-perfil{
    text-decoration: none;
    color: white;
}
.btn-cerar{

    color: white;
    cursor: pointer;


}
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

  .navbar-brand {
    display: inline-block;
   
    margin-right: 1rem;
    font-size: 1.171875rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 3rem;
}

li {
    display: flex;
    flex-direction: column;
  
}
