.divDelNav{
    margin-bottom: 150px;
}
.perfil{
    
    font-size: 2.5rem;
    text-align: center;
}
.modPerfil{
    background-color:rgba(92, 92, 91, 0.856);
    color: white;
    border-radius: 8px;
    position: relative;
    left: 10px;
}



.container-perfil{

    padding:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;

}